.main-div-of-orders{
    background-color: #f8f8f8;
    padding: 30px 30px 10px 30px;
}
.main-div-of-orders .main-div-of-filters{
    margin: 0px 10px 30px 10px;
    padding: 7px 0px 7px 0px;
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
}

.main-div-of-orders .main-div-of-filters ul{ 
    list-style: none;
    display: flex;
    padding: 8px 20px 0px 20px;
    justify-content: space-between;
    width: 40%;
}
.main-div-of-orders .search-data-height-setting{
    height: 40px;
    margin-top: 10px;
}


.main-div-of-orders .main-div-of-filters ul li{
    color:#767573;
    font-weight:600;
    padding: 0px 0px 0px 10px;
    cursor: pointer;
}
.main-div-of-orders .main-div-of-filters .inside-div-of-filters{
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 0;
}
.main-div-of-orders .main-div-of-filters .inside-div-of-filters .date-time-picker{
    width: 20%;
    padding: 0 0 0 30px;
}
.main-div-of-orders .main-div-of-filters .inside-div-of-filters .search-data{
    display: flex;
    justify-content:flex-end;
}
.main-div-of-orders .main-div-of-filters .inside-div-of-filters .search-data input{
    width: 200px;
    padding: 0 0 0 5px;
    border: solid 1px #dad8d5;
    font-size: 16px;
    border-radius: 4px;
}
.main-div-of-orders .main-div-of-filters .inside-div-of-filters .search-data img{
    width: 18px;
    height: 18px;
    position: absolute;
    padding: 12px 5px 0px 0px;
}
.main-div-of-orders .main-div-of-filters .inside-div-of-filters .date-time-picker .react-date-picker {
    padding: 5px 0px 5px 0px;
}
.main-div-of-orders .react-date-picker__clear-button{
    display: none;
}
.main-div-of-orders .react-date-picker__wrapper{
    width: 200px;
    height: 40px;
    margin-left:20px;
    border-radius: 4px;
    border: solid 1px #dad8d5;
    background-color: #ffffff;
}


.main-div-of-orders .react-date-picker__inputGroup {
    padding: 0 5px !important;
}