/*menu page colors*/
.txt-color-gray{
    color:#dad8d5
}
.bg-clr-Orange{
    background-color: #f14536;
    color:white;
}
.bg-clr-white{
    color: #767573;
    background-color: #ffffff;
}
