/*menu page colors*/
.txt-color-gray{
    color:#dad8d5
}
.bg-clr-Orange{
    background-color: #f14536!important;
    color:white;
}
.bg-clr-white{
    color: #767573;
    background-color: #ffffff;
}
.heading-clr{
    color: #212120;
}
.text-clr-light-gray{
    color: #767573;
}
.border-color-orange{
    border: solid 1px #f14536 !important;
}
.text-clr-orange{
    color: #f14536;
}
/*.placeholder-color{*/
    /*color: #767573;*/
/*}*/
input,button{
    outline: #f14536;
}
button {
    border-style: none;
    /*box-shadow: 0 2px 8px 0 rgba(241, 69, 54, 0.59);*/
}
button:focus {
    border-style: none;
    box-shadow: 0 2px 8px 0 rgba(241, 69, 54, 0.59);
}

button:hover{
    background-color: #F12B0D !important;
    box-shadow: 0 2px 8px 0 rgba(241, 69, 54, 0.59);
    color: white;
}