@import'./common.css';
@import'./colors.css';
@import'./table.css';
@import'./addCategory-and-addMenu.css';
@import'./togglebtn.css';
@import'./select-field.css';
@import'./custom-check-box.css';
@import'./common-button.css';
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}
/*font-family*/
.f-fm-OpenSans {
    font-family: 'Open Sans', sans-serif;
}
/**/
.w-33{
    width: 33%;
}
.w-25{
    width: 25%;
}
.w-50{
    width: 50%;
}
.w-45{
    width: 45%;
}
.w-10{
    width: 10%;
}
.w-100{
    width: 100%;
}
.m-b-10{
    margin-bottom: 10px;
}
.m-r-20{
    margin-right: 20px;
}
.p-r-10{
    padding-right: 10px;
}
.p-t-10{
    padding-top: 10px;
}
.margin-top-10{
    margin-top: 10px;
}
.margin-left-10{
    margin-left: 10px;
}

.margin-top-20{
    margin-top: 20px;
}
.margin-top-bottom-30{
    margin: 30px 0 30px 0;
}
.margin-top-50{
    margin-top: 50px;
}
.margin-0{
    margin: 0;
}
.p-0{
    padding: 0;
}
.padding-10{
    padding: 10px;
}
.scroll-y{
    overflow-y: scroll;
}
.t-align-c{
    text-align: center;
}
.f-w-nomal{
    font-weight: normal;
}
.f-w-str-normal{
    font-stretch: normal;
}
.f-sty-normal{
    font-style: normal;
}
.line-h-normal{
    line-height: normal;
}
.letter-spc-normal{
    letter-spacing: normal;
}
/*font-size*/
.f-s-16{
    font-size: 16px;
}
.f-s-14{
    font-size: 14px;
}
.f-s-24{
    font-size: 24px;
}
/*font-weight*/
.f-w-600{
    font-weight: 600;
}
.cursor-pointer{
    cursor: pointer;
}
.d-flex{
    display: flex;
}
.j-c-space-between{
    justify-content: space-between;
}
.medium-btn{
    height: 40px;
    width: 130px;
}