/*------ ADDED CSS ---------*/
.toggle-main-div .on {
    display: none;
}

.toggle-main-div .on {
    color: #767573;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 36%;
    font-size: 14px;
    font-family: Verdana, sans-serif;
}

.toggle-main-div .off {
    color: #767573;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 60%;
    font-size: 14px;
    font-family: Verdana, sans-serif;
}

.toggle-main-div input:checked + .slider .on {
    display: block;
}

.toggle-main-div input:checked + .slider .off {
    display: none;
}

/*--------- END --------*/

/* Rounded sliders */
.toggle-main-div .slider.round {
    border-radius: 34px;
}

.toggle-main-div .slider.round:before {
    border-radius: 50%;
}

.common-toggle-btn .switch {
    position: relative;
    display: inline-block;
    width: 87px;
    height: 40px;
}

.common-toggle-btn .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.common-toggle-btn .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.common-toggle-btn .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 4px;
    bottom: 4px;
    background-color: gray;
    -webkit-transition: .4s;
    transition: .4s;
}

.common-toggle-btn .slider:after {

}

.common-toggle-btn input:checked + .slider {
    background-color: white;
}

.common-toggle-btn input:focus + .slider {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
}

.common-toggle-btn input:checked + .slider:before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    background-color: #f14536;
}

/* Rounded sliders */
.common-toggle-btn .slider.round {
    border-radius: 34px;
}

.common-toggle-btn .slider.round:before {
    border-radius: 50%;
}
