.addNewDish-section-one{
    margin: 30px 40px;
}
.addNewDish-container-head{
    display: flex;
    justify-content: space-between;
}
.addNewDish-container-center{
    /*width:73%;*/
}
.addNewDish-container-right{
    display: flex;
}
.addNewDish-container-left{
    line-height: 1.25;
}
.p-client-review{
    margin: 10px 10px 0 0;
}