.addNewDish-container-fluid {

}

.addNewDish-container {
    margin: 0 38px 0 38px;
}

.addNewDish-fields {
    display: flex;
    justify-content: space-between;
}

.addNewDish-description-recipe {

}

.addNewDish-buttons {

}

.input-fields {
    padding: 0 15px 0 10px;
    width: 90%;
    height: 50px;
    border-radius: 4px;
    border: solid 1px #dad8d5;
    background-color: #ffffff;
}

/*.size-description {*/
    /*padding: 0 15px 0 10px;*/
    /*width: 50px;*/
    /*border-radius: 4px;*/
    /*border: solid 1px #dad8d5;*/
    /*background-color: #ffffff;*/
/*}*/

.text-area-fields {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;


    padding: 10px 15px 10px 10px;
    margin: auto;
    width: 95%;
    height: 144px;
    border-radius: 4px;
    border: solid 1px #dad8d5;
    background-color: #ffffff;
}

.input-fields-empty {
    /*width: 90%;*/
}

.fields-label-margin {
    margin: 5px 0;
}

.addNewDish-two-toggle-buttons-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.addNewDish-toggle-inner-div {
    /*width: 50%;*/
    display: flex;
}

.checkbox-main-div {
    width: 30%;
}

.crossImage {
    float: right;
}

.size-description-heading {
    line-height: 3.44px;
}