.side-dish-btn{
    height: 44px;
    padding: 0px 60px;
    margin-left: 10px;
    margin-right: 0px;
}
.side-dish-search-box{
    height: 37px;
}
.side-dish-cards{
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 30px;
}
.side-dish-block-width{
    width: 31%!important;
    margin: 1.5% 1.5% 0 0;
}
.edit-btn-icon{
    width: 18px;
    height: 18px;
    padding: 13px;
    float: right;
}