.menu-container-main-menu{
    display: flex;
    margin: 15px 30px;
}
.menu-container-main-menu .categories-block{
    margin: 20px 10px;
    cursor: pointer;
    width: 171px;
    height: 50px;
    flex: 1 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.09);
    border-radius: 4px;
    font-weight: 600;
}
.menu-container-main-menu .All-categories-div{
    width:15%;
}
.menu-container-main-menu .categories-div-two{
    display: flex;
    flex-wrap: wrap;
}
