.navbar-main {
    background-color: #f8f8f8;
}
.navbar-main .container-navbar {
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
}
.navbar-main .container-navbar .first-block{
    width: 170px;
    display: flex;
    padding: 10px 0px 10px 0px;
    align-items: center;
    color: #767573;
    justify-content: center;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
}
.navbar-main .container-navbar .first-block .image-first-block{
    margin-right: 12px;
}
.navbar-main .container-navbar .first-block .image-first-block .icons{
    padding-top: 5px;
}