.menu-section-one .menu-container-menu-bar{
    display: flex;
    justify-content: space-between;
    margin: 30px 40px 30px 40px;
    height: 77px;
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
}
.menu-section-one .menu-list-block{
    width: 57%;
}
.menu-section-one .menu-ul{
    margin-top: 30px;
    display: flex;
    list-style-type: none;
    text-align: center;
    color: #767573;
}
.menu-section-one .menu-ul-li{
    margin-left: 20px;
    margin-right: 30px;
    cursor: pointer;
}
.menu-section-one .search-main-div{
    display: flex;
    justify-content: flex-end;
}
.menu-section-one .menu-search-box{
    padding-left: 10px;
    margin-top: 18.5px;
    width: 252px;
    height: 40px;
    border-radius: 4px;
    border: solid 1px #dad8d5;
    background-color: #ffffff;
}
.menu-section-one .menu-search-icon{
    position: absolute;
    margin: 35px 10px 10px -5px;
}
.menu-section-one .menu-search-action{
    display: flex;
}
.menu-section-one .Actions-main-div{
    margin-left: 13px;
    margin-top: 18.5px;
    width: 218px;
    height: 46px;
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.09);
    background-color: #767573;
    color:white;
}
.menu-section-one .menu-action-box{
    width: 165px;
    margin: 10px;
    padding: 0;
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
}
/*drop down menu styling*/
.menu-section-one .dropdown-content {
    width: 218px;
    height: 302px;
    margin-top: 3px;
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.09);
    background-color: #767573;
    position: absolute;
    z-index: 5;
}
.menu-section-one .dropdown-content li {
    padding-left: 10px;
    line-height: 3.13;
    list-style-type: none;
    cursor: pointer;
    border-bottom: 1px solid;
    color: #ffffff;
}
.menu-section-one .Action-heading-icon{
    display: flex;
    padding: 2px 0;
}
.menu-section-one .menu-dropdown-icon{
    cursor: pointer;
    margin-top:8px;
}
.menu-section-one .display-block{
    display: block;
}
.menu-section-one .display-none{
    display: none;
}